body {
  text-align: center;
  background-color: #162447;
}

h1 {
  font-family: 'Press Start 2P', cursive;
  font-size: 2.5rem;
  margin:  4%;
  color: #FEF2BF;
}

.container {
  display: block;
  width: 50%;
  margin: auto;

}

.btn {
  margin: 2px;
  display: inline-block;
  height: 240px;
  width: 240px;
  border: 10px solid black;
}

.game-over {
  background-color: #f22222;
  opacity: 0.8;
}

.red {
  background-color: red;
  border-radius: 0 100% 0 10%;
}

.green {
  background-color: green;
  border-radius: 100% 0 10% 0;
}

.blue {
  background-color: blue;
  border-radius: 10% 0 100% 0;
}

.yellow {
  background-color: yellow;
  border-radius: 0 10% 0 100%;
}

.pressed {
  box-shadow: 0 0 20px white;
  background-color: grey;
}

@media (max-width: 1028px) {
  h1{
    font-size: 5rem;
    margin-top: 30%;
    margin-bottom: 30%;
  }
  .container {
    display: block;
    width: 95%;
    margin: auto;
  }
  .btn {
    height: 350px;
    width: 350px;
}
}
